:root {
  --main-color: #FFFFFF;
  --pre-main-color: #212121;
  --hover-color: #2196F3;
  --text-color: #757575;
  --svg-links-color: #afb1b8;
  --primary-transition-time: 250ms;
  --primary-cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --projects-overlay-color: rgba(33, 150, 243, 0.9);
  --galery-overlay-color: rgba(47, 48, 58, 0.8);
  --modal-background-color: rgba(0, 0, 0, 0.2);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto";
}

button {
  margin: 0 auto;
  display: block;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.description-wrapper, .header-two .container, .company-clients-link, .masters-soc-list__link, .work-photo__galery-description, .description__company-ben, .main-button, .header .container {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);
}

.backdrop.is-hidden {
  opacity: 0;
  transition: opacity var(--primary-transition-time) var(--primary-cubic-function);
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--primary-transition-time) var(--primary-cubic-function);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  color: #2196F3;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  min-width: 448px;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  outline: transparent;
  transition: border-color var(--primary-transition-time) var(--primary-cubic-function);
}
.modal-input:not(:placeholder-shown):not(:focus):valid {
  background-color: green;
}
.modal-input:placeholder-shown {
  background-color: transparent;
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--hover-color);
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--primary-transition-time) var(--primary-cubic-function);
}
.modal-input:focus + .input-icon, .modal-input:hover + .input-icon {
  fill: var(--hover-color);
}

.modal-text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px;
  outline: none;
  transition: border-color var(--primary-transition-time) var(--primary-cubic-function);
  margin-bottom: 20px;
}
.modal-text-area:hover, .modal-text-area:focus {
  border-color: var(--hover-color);
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.check-text a {
  color: #2196F3;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid rgba(34, 34, 34, 0.2);
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-check:checked + .check-text span {
  background-color: #2196F3;
  border: none;
}

.check-icon {
  fill: transparent;
}
.input-check:checked + .check-text .check-icon {
  fill: white;
}

.modal-button {
  width: 200px;
  height: 50;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--hover-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  transition: background-color var(--primary-transition-time) var(--primary-cubic-function);
  outline: none;
}
.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.header {
  height: 60px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
    height: 80px;
  }
}

.header > .container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header > .container {
    height: 80px;
  }
}

.open-menu-btn {
  display: block;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}
.open-menu-btn:hover, .open-menu-btn:focus {
  fill: #2196f3;
  transform: rotate(180deg);
}

.close-menu-btn {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 0px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-menu-btn:hover, .close-menu-btn:focus {
  fill: #2196f3;
  transform: rotate(360deg);
}

.mob-menu {
  z-index: 2;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 25px;
  overflow: auto;
  transition: transform 500ms, cubic-bezier(0.4, 0, 0.2, 1) 1000ms, visibility 1s 0s;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translate(-100%);
  transition: 1000ms, visibility 0s 1s;
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .nav-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: #2196f3;
  }
}
@media screen and (max-width: 479px) {
  .nav-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list__link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list__link-tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__link-tel {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 767px) {
  .contacts-list__link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list__link-mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__link-mail {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .contacts-list__link-mail:hover, .contacts-list__link-mail:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list__link-tel:hover, .contacts-list__link-tel:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__item {
    margin-left: 30px;
  }
}
.contacts-list__icon {
  fill: currentColor;
  margin-right: 8px;
}

.soc-list {
  display: flex;
}
@media screen and (max-width: 479px) {
  .soc-list {
    flex-wrap: wrap;
  }
}
.soc-list__item:not(:last-child):after {
  content: "";
  width: 22px;
  height: 0px;
  left: 135px;
  top: 726px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.soc-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.current {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .current {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__link.current::after {
    content: "";
    height: 4px;
    background-color: #2196f3;
    position: absolute;
    bottom: 0.5px;
    width: 100%;
    border-radius: 2px;
    right: 0;
  }
}

.header-tab {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header-tab {
    display: none;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: block;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .logo-tab {
    margin-right: 88px;
  }
}

.nav__logo,
.nav__logoo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.nav__logoo {
  color: var(--pre-main-color);
}

.header .logo {
  display: block;
  padding: 24px 0 25px 0;
}

.main-section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/head-mob.png);
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/head-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/head-tabl.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/head-tabl-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/head-desk.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/head-desk-2x.png);
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .main-section {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.main-name {
  width: 670px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0 auto 30px auto;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .main-name {
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .main-name {
    line-height: 1.36;
    font-size: 44px;
  }
}

.main-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--hover-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  transition: background-color var(--primary-transition-time) var(--primary-cubic-function);
  outline: none;
}
.main-button:hover, .main-button:focus {
  background-color: #188ce8;
}

.company {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .company {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .company {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .description {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .description {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pre-main-color);
  margin-bottom: 10px;
}

.title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  max-width: 260px;
}

.description__facts {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .description__facts {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .description__facts {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.description__company-ben {
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.work-projects {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work-projects {
    display: none;
    margin-bottom: 50px;
  }
}

.pre-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--pre-main-color);
  margin-bottom: 50px;
}

.work-photo {
  display: flex;
}

.work-photo__item + .work-photo__item {
  margin-left: 30px;
}

.work-photo__item {
  position: relative;
}

.work-photo__galery-description {
  justify-content: center;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--galery-overlay-color);
}

.masters {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .masters {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .masters {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--pre-main-color);
  margin-bottom: 50px;
}

.workers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.workers-list__item {
  width: 100%;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .workers-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .workers-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.about-workers-div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--pre-main-color);
}

.names-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-top: 10px;
  margin-bottom: 16px;
}

.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-list__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.masters-soc-list__item:first-child {
  margin-left: 0;
}

.masters-soc-list__link {
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--svg-links-color);
  transition: background-color var(--primary-transition-time) var(--primary-cubic-function), color var(--primary-transition-time) var(--primary-cubic-function);
  outline: none;
}
.masters-soc-list__link:hover, .masters-soc-list__link:focus {
  background-color: var(--hover-color);
  color: var(--main-color);
}

.masters-soc-list__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.company-clients {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .company-clients {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .company-clients {
    width: calc((100% - 150px) / 6);
  }
}

.company-clients-link {
  justify-content: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid var(--svg-links-color);
  border-bottom: 1px solid var(--svg-links-color);
  border-left: 1px solid var(--svg-links-color);
  border-right: 1px solid var(--svg-links-color);
  border-radius: 4px;
  color: var(--svg-links-color);
  outline: none;
}
.company-clients-link:hover, .company-clients-link:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

.company-clients-icon {
  fill: currentColor;
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
}

.footer-logo,
.footer-logoo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.footer-logoo {
  color: var(--main-color);
}

@media screen and (max-width: 1199px) {
  .footer-nav {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .footer-nav {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav {
    margin-right: 70px;
  }
}

.footer-nav__logo {
  color: #ffffff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-nav__adress {
  margin-top: 20px;
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-nav-list li:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 1199px) {
  .footer-nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-nav-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav-list__link:hover, .footer-nav-list__link:focus {
  color: #2196f3;
}

.footer-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  outline: none;
  color: #ffffff;
  background-color: #44454e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  background-color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .footer-links {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 1199px) {
  .footer-links {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer-links {
    width: 100%;
  }
}

.footer-list__icon {
  fill: #ffffff;
}

.footer-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list {
  display: flex;
}

.footer-list__item {
  width: 44px;
  height: 44px;
}
.footer-list__item:not(:last-child) {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

@media screen and (max-width: 1199px) {
  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-cont {
    display: flex;
    align-items: baseline;
  }
}

.form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.input-form {
  outline: transparent;
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
@media screen and (max-width: 1199px) {
  .input-form {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .input-form {
    margin-right: 12px;
    width: 358px;
  }
}
.input-form:placeholder-shown {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-form:focus {
  color: #ffffff;
}

.form-wrap {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .form-wrap {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    margin-left: auto;
    width: 570px;
  }
}

.form-btn {
  padding: 0;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .form-btn {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .form-btn {
    margin-left: auto;
  }
}

.icon-form {
  margin-left: 10px;
}

.header-two {
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  display: flex;
  justify-content: left;
  margin-bottom: 50px;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    justify-content: center;
  }
}

.pre-main-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  color: var(--pre-main-color);
  cursor: pointer;
  background-color: #F5F4FA;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: background-color var(--primary-transition-time) var(--primary-cubic-function), color var(--primary-transition-time) var(--primary-cubic-function);
  outline: none;
}
.pre-main-button:hover, .pre-main-button:focus {
  color: var(--main-color);
  background-color: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 60px) / 3);
  }
}
.gallery-item:hover, .gallery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery .link:hover .description-wrapper,
.gallery .link:focus .description-wrapper {
  transform: translateY(0);
}

.project-figure {
  position: relative;
  overflow: hidden;
}

.projects-image {
  display: block;
  width: 100%;
  height: 100%;
}

.description-wrapper {
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform var(--primary-transition-time) var(--primary-cubic-function);
  background-color: var(--projects-overlay-color);
}

.project-description {
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-color);
}

.work-div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
}

.work {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--pre-main-color);
}

.work-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */