:root {
  --main-color: #FFFFFF;
  --pre-main-color: #212121;
  --hover-color: #2196F3;
  --text-color: #757575;
  --svg-links-color: #afb1b8;
  --primary-transition-time: 250ms;
  --primary-cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --projects-overlay-color: rgba(33, 150, 243, 0.9);
  --galery-overlay-color: rgba(47, 48, 58, 0.8);
  --modal-background-color: rgba(0, 0, 0, 0.2);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto";
}

button {
  margin: 0 auto;
  display: block;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.description-wrapper, .header-two .container, .footer-button, .company-soc-link, .company-clients-link, .masters-soc-list__link, .work-photo__galery-description, .description__company-ben, .main-button, .contacts__phone, .contacts__mail, .header .container {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);
}

.backdrop.is-hidden {
  opacity: 0;
  transition: opacity var(--primary-transition-time) var(--primary-cubic-function);
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--primary-transition-time) var(--primary-cubic-function);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  color: #2196F3;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  min-width: 448px;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  outline: transparent;
  transition: border-color var(--primary-transition-time) var(--primary-cubic-function);
}
.modal-input:not(:placeholder-shown):not(:focus):valid {
  background-color: green;
}
.modal-input:placeholder-shown {
  background-color: transparent;
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--hover-color);
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--primary-transition-time) var(--primary-cubic-function);
}
.modal-input:focus + .input-icon, .modal-input:hover + .input-icon {
  fill: var(--hover-color);
}

.modal-text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px;
  outline: none;
  transition: border-color var(--primary-transition-time) var(--primary-cubic-function);
  margin-bottom: 20px;
}
.modal-text-area:hover, .modal-text-area:focus {
  border-color: var(--hover-color);
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.check-text a {
  color: #2196F3;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid rgba(34, 34, 34, 0.2);
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-check:checked + .check-text span {
  background-color: #2196F3;
  border: none;
}

.check-icon {
  fill: transparent;
}
.input-check:checked + .check-text .check-icon {
  fill: white;
}

.modal-button {
  width: 200px;
  height: 50;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--hover-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  transition: background-color var(--primary-transition-time) var(--primary-cubic-function);
  outline: none;
}
.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.nav {
  display: flex;
  align-items: center;
}
.nav .current {
  color: var(--hover-color);
}
.nav .current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.nav__logo,
.nav__logoo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  margin-right: 46.5px;
}

.nav__logoo {
  color: var(--pre-main-color);
}

.header .logo {
  display: block;
  padding: 24px 0 25px 0;
}

.link {
  text-decoration: none;
}

.menu {
  display: flex;
}

.menu__item:not(last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
}
.menu__link:hover, .menu__link:focus {
  color: var(--hover-color);
}

.menu__link {
  color: var(--pre-main-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__mail {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 32px 0;
  margin-right: 50px;
  justify-content: center;
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
}
.contacts__mail:hover, .contacts__mail:focus {
  color: var(--hover-color);
}

.contacts__phone {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 32px 0;
  justify-content: center;
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
}
.contacts__phone:hover, .contacts__phone:focus {
  color: var(--hover-color);
}

.contacts__svg {
  fill: currentColor;
  margin-right: 10px;
}

.main-section {
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-name {
  width: 670px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0 auto 30px auto;
  text-align: center;
  margin-bottom: 30px;
}

.main-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--hover-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  transition: background-color var(--primary-transition-time) var(--primary-cubic-function);
  outline: none;
}
.main-button:hover, .main-button:focus {
  background-color: #188ce8;
}

.company {
  padding-top: 94px;
  padding-bottom: 94px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pre-main-color);
  margin-bottom: 10px;
}

.title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  max-width: 260px;
}

.description__company-ben {
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.work-projects {
  padding-bottom: 94px;
}

.pre-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--pre-main-color);
  margin-bottom: 50px;
}

.work-photo {
  display: flex;
}

.work-photo__item + .work-photo__item {
  margin-left: 30px;
}

.work-photo__item {
  position: relative;
}

.work-photo__galery-description {
  justify-content: center;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--galery-overlay-color);
}

.masters {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--pre-main-color);
  margin-bottom: 50px;
}

.workers-list {
  display: flex;
  margin-left: -30px;
}
@media screen and (min-width: 768px) {
  .workers-list {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .workers-list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.workers-list__item {
  width: 100%;
  margin-left: 30px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .workers-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .workers-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.about-workers-div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--pre-main-color);
}

.names-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-top: 10px;
  margin-bottom: 16px;
}

.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-list__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.masters-soc-list__item:first-child {
  margin-left: 0;
}

.masters-soc-list__link {
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--svg-links-color);
  transition: background-color var(--primary-transition-time) var(--primary-cubic-function), color var(--primary-transition-time) var(--primary-cubic-function);
  outline: none;
}
.masters-soc-list__link:hover, .masters-soc-list__link:focus {
  background-color: var(--hover-color);
  color: var(--main-color);
}

.masters-soc-list__icon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.company-clients {
  width: 170px;
  height: 92px;
}

.company-clients + .company-clients {
  margin-left: 30px;
}

.company-clients-link {
  justify-content: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--svg-links-color);
  border-bottom: 1px solid var(--svg-links-color);
  border-left: 1px solid var(--svg-links-color);
  border-right: 1px solid var(--svg-links-color);
  border-radius: 4px;
  color: var(--svg-links-color);
  outline: none;
}
.company-clients-link:hover, .company-clients-link:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

.company-clients-icon {
  fill: currentColor;
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo,
.footer-logoo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  margin-right: 46.5px;
}

.footer-logoo {
  color: var(--main-color);
}

.adress-container {
  margin-right: 70px;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--main-color);
  margin-top: 20px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer-contacts-item {
  margin-top: 9px;
}

.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
}
.footer-mail:hover, .footer-mail:focus {
  color: var(--hover-color);
}

.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  margin-bottom: 60px;
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
}
.footer-phone:hover, .footer-phone:focus {
  color: var(--hover-color);
}

.company-soc {
  margin-right: auto;
}

.soc {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
  padding-left: 10px;
}

.company-soc-list {
  display: flex;
  justify-content: center;
}

.company-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.company-soc-item :first-child {
  margin-left: 0;
}

.company-soc-link {
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  color: var(--main-color);
  transition: background-color var(--primary-transition-time) var(--primary-cubic-function);
  outline: none;
}
.company-soc-link:hover, .company-soc-link:focus {
  background-color: var(--hover-color);
  color: var(--main-color);
}

.company-soc-icon {
  fill: currentColor;
}

.footer-title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer label {
  width: 358px;
  margin-right: 12px;
}

.footer .modal-footer-input {
  color: var(--main-color);
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2f303a;
}

.footer-button {
  justify-content: center;
  padding: 0;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  outline: none;
}
.footer-button, .footer-button {
  background-color: #188ce8;
}

.send-icon {
  margin-left: 10px;
}

.header-two {
  border-bottom: 1px solid #ECECEC;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.pre-main-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  color: var(--pre-main-color);
  cursor: pointer;
  background-color: #F5F4FA;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: background-color var(--primary-transition-time) var(--primary-cubic-function), color var(--primary-transition-time) var(--primary-cubic-function);
  outline: none;
}
.pre-main-button:hover, .pre-main-button:focus {
  color: var(--main-color);
  background-color: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.gallery-item {
  flex-basis: calc(33.3333333333% - 30px);
  margin: 15px;
}
.gallery-item:hover, .gallery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery .link:hover .description-wrapper,
.gallery .link:focus .description-wrapper {
  transform: translateY(0);
}

.project-figure {
  position: relative;
  overflow: hidden;
}

.projects-image {
  display: block;
  width: 100%;
  height: 100%;
}

.description-wrapper {
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform var(--primary-transition-time) var(--primary-cubic-function);
  background-color: var(--projects-overlay-color);
}

.project-description {
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-color);
}

.work-div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
}

.work {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--pre-main-color);
}

.work-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */