.work-projects {
    padding-bottom: 94px;
    @media screen and (max-width: 1199px) {
    display: none;
    margin-bottom: 50px;
    }
}

.pre-main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--pre-main-color);
    margin-bottom: 50px;
}

.work-photo {
    display: flex;
}

.work-photo__item + .work-photo__item {
    margin-left: 30px;
}

.work-photo__item {
    position: relative;
}

.work-photo__galery-description {
    @extend %align-list;
    justify-content: center;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-color);
    background-color: var(--galery-overlay-color);
}