:root {
    --main-color: #FFFFFF;
    --pre-main-color: #212121;
    --hover-color: #2196F3;
    --text-color: #757575;
    --svg-links-color: #afb1b8;
    --primary-transition-time: 250ms;
    --primary-cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
    --projects-overlay-color: rgba(33, 150, 243, 0.9);
    --galery-overlay-color: rgba(47, 48, 58, 0.8);
    --modal-background-color: rgba(0, 0, 0, 0.2);
}